{!extends file='layout.html'!} {!block name=main!}
<script src="/static/js/baiduTemplate.js"></script>
<link href="/static/css/buybook.css" rel="stylesheet">
<script>
$(document).ready(function(){
	checkuserlogin();
	setTimeout(getbookcarinfo,300); 
	
	$('li').click(function(){
		$('#campus').text($(this).text());
	});
	$('#submit').click(function(){
		$("td.test").each(function(n){
			if("0" ==$(this).html()){
				$(this).parent().remove();
			}
		  });
		if($('#orderdetails').html() == ""){
			alert("请至少填写一个品种的数量！");
			getbookcarinfo();
			return;
		}
		$('#ordersubmit').modal('show');
	});
	
	$('#postorder').click(function(){
		if(!$('#ordername').val()){
			alert("必须填写订单名称");
			$('#ordername').focus();
			return;
		}
		//把订单详情准备到ordertails变量里
		var ordertails = new Array(); 
		$("td.test").each(function(n){
			ordertails[n] = $(this).attr('id')+"|"+$(this).html();
		  });
		
		$.ajax({
			type:"POST",
			url:"{!$api_url!}"+"/letsgo/order",
			dataType:"json",
			data:{
				ordername:$('#ordername').val(),
				mark:$('#mark').val(),
				place:$('#campus').text(),
				details:JSON.stringify(ordertails),
				staffid:$('#staffid').val(),
			},
			success:function(data){
				if(0 == data.result){
					alert("订单提交成功！");
					window.location.href = "/user/order";
				}else if(1005 == data.result){
					alert("存在完全相同的订单，请更改订单信息后重新提交");
				}else{
					alert("出错了，请在网络状态良好的情况下重试1");
				}
			},
			error:function(data){
				alert("出错了，请在网络状态良好的情况下重试2");
			},
		});
	});
});
function deletefromcar(bookid){
	$.ajax({
		type:"POST",
		url:"{!$api_url!}"+"/letsgo/Bookcar",
		dataType:"json",
		data:{
			bookid:bookid,
		    staffid:$('#staffid').val(),
		    type:"delete",
		},
		success:function(data){
			if(data.result ==0){
				var bt=baidu.template;
				var html=bt('t:search_result',data);
				$("#result").html(html);
			}
		},
		error:function(data){
			alert("出错了，请联系系统管理员");
		},
	});
}
function getbookcarinfo(){
	$.ajax({
		type:"GET",
		url:API_ROOT+"/letsgo/bookcars",
		dataType:"json",
		data:{
			staffid:$('#staffid').val(),
		},
		success:function(data){
			if(data.result ==0){
				var i;
				var temp;
				for(i = 0;i<data.data.length;i++){
					temp +="<tr><td>"+data.data[i].name+"</td><td>"+data.data[i].author+
					"</td><td>"+data.data[i].press+"</td><td>"+data.data[i].fixedPrice+
					"</td><td class=\"test\" id=\"bookid"+data.data[i].bookid+"\">0</td></tr>";
					$('#orderdetails').html(temp);
				}
				var bt=baidu.template;
				var html=bt('t:search_result',data);
				$("#result").html(html);
				$(".count").on('input',function(e){
					$('#'+ "bookid"+ $(this).attr('id')).html($(this).val());
				});
			}
		},
		error:function(data){
			alert("出错了，请联系系统管理员");
		},
	});
}
</script>
<style>
#orderdetails td{
	font-size:0.8em;
	text-align:center;
}
th{
	font-size:0.9em;
	text-align:center;
}

p.title{
	font-weight:bold;
}
p.campus{
	float:left;
	padding:5px;
	font-size:0.8em;
}


</style>
	<div class="row" style="text-align: center">
		<div id="box" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="title">
				<p>我的购物车</p>
			</div>
			<p>填写数量后点击生成订单，不想加入订单的品种保持数量为空即可。</p>
			<p style="color:red;font-weight:blod;">二手政治书可以直接提交，其他品种二手书请不要在这里提交，发邮件给752251080@qq.com</p>
			<div class="bookbox" id="result">
			</div>
			<button id="submit" type="submit" class="btn btn-default">生成订单</button>
		</div>
	</div>

<div class="modal fade" id="ordersubmit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">填写订单信息</h4>
      </div>
      <div class="modal-body">
      	<p class="title">订单名称<input type="text" id="ordername" style="width:100%;"/></p>
      	<p class="title">订单备注<input type="text" id="mark" placeholder="&nbsp备注是给你自己看的" style="width:100%;"/></p>
      	<p class="title">送货地点</p>
      	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="font-size:0.8em;">
		    切换送货地点
		    <span class="caret"></span>
		  </button>
		  <p  id="campus" class="campus">同济大学嘉定校区7号楼</p>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">同济大学嘉定校区7号楼</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">同济大学嘉定校区19号楼</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">同济大学四平路校区南校区</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">同济大学四平路校区西南八楼</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">同济大学四平路校区西北四楼</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">上海财经大学国定路校区</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">上海财经大学武川路校区</a></li>
		    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">华东理工大学奉贤校区</a></li>
		  </ul>
		</div>
        <table class="table">
	        <thead>
		        <tr>
			        <th>书名</th>
			        <th>作者</th>
			        <th>出版社</th>
			        <th>定价</th>
			        <th>数量</th>
		        </tr>
	        </thead>
	        <tbody id="orderdetails">
	        </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button id="postorder" type="button" class="btn btn-primary" >提交订单</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script id='t:search_result' type="text/template">
<!-- 模板部分 -->
<% for(var i = 0; i<data.length;i++){%>
				<div class="row mbookinbox">
					<div class="col-lg-2 col-md-2 col-sm-2">
						<img src="<%=data[i].imgpath%>" alt="" class="pic" />
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5">
						<p class="booktitle">
							<span ><%=data[i].name%></span>
						</p>
						<p class="search_book_author" > 
						<span class="search_now_price">&yen;<%=data[i].fixedPrice%></span>
						<span><%=data[i].author%></span>
						</p>
						<p class="search_book_author" > 
						<span > <%=data[i].isbn%></span>
						<span>  /<%=data[i].press%></span>
						</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3" style="padding:30px;">
						数量<input class="count" id="<%=data[i].bookid%>" type="text" style="max-width:100px;margin-left:10px;"/>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2" style="padding:25px;">
						<button class="btn btn-default" onclick="deletefromcar('<%=data[i].bookid%>')">删除</button>
					</div>
				</div>
<%}%>
<!-- 模板结束 -->   
</script>
{!/block!}
