{!extends file='base.html'!} {!block name=base!}
<script src="/static/js/md5.js"></script>
<script>
$(document).ready(function(){
	$('#login').click(function(){
		$.ajax({
			type:"POST",
			url:"{!$api_url!}"+"/Letsgo/login",
			dataType:"json",
			data:{
				staffid:$('#username').val(),
				password:hex_md5($('#password').val()),
			},
			success:function(data){
				if(data.data.staffid){
					$.ajax({
						type:"POST",
						url:"/session.php",
						data:{
							action:"set",
							staffid:data.data.staffid,
						},
						success:function(data){
							window.location.href = "/";
						},
						error:function(data){
							alert("登陆出现异常，请重试1"+data);
						},
					});
				}else{
					alert("登陆出现异常，请重试2");
				}
			},
			error:function(data){
				alert("登陆出现异常，请重试3");
			},
		});
		return false;
	});
	
	$('#forgetpassword').click(function(){
		$('#forgetpasswordmodal').modal("show");
		return false;
	});
	
	$('#resetpassword').click(function(){
		if($('#password1').val()!=$('#password2').val()){
			alert("两次输入的密码不一致");
			$('#password2').focus();
			return;
		}
		$.ajax({
			type:"POST",
			url:API_ROOT+"/Letsgo/resetpassword",
			dataType:"json",
			data:{
				staffid:$('#fusername').val(),
				tel:$('#ftel').val(),
				password:hex_md5($('#password1').val()),
			},
			success:function(data){
				if(data.result == 1006){
					alert("手机号和工号不匹配");
					return;
				}
				if(data.result == 1000){
					alert("重置失败");
					return;
				}
				alert("重置成功，请重新登陆");
				window.location.href = "/login";
			},
			error:function(data){
				alert("出现异常，请重试"+data);
			},
		});
	});
	
	$('#register').click(function(){
		//$('#forgetpasswordmodal').modal("show");
		return false;
	});
});
</script>
<style>
.loginbox{
	min-height:300px;
	margin:100px auto 0 auto;
}
.loginbtn{
	min-width:100px;
}

#forgetpasswordmodal input{
	margin:10px auto;
}
</style>
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" >
		<div class="loginbox">
			<div class="row">
	   			<form class="form-horizontal">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-md-2 control-label">工号</label>
				    <div class="col-md-8">
				      <input type="text" class="form-control" id="username" name="username" placeholder="工号">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-md-2 control-label">密码</label>
				    <div class="col-md-8">
				      <input type="password" class="form-control" id="password" name="password" placeholder="密码">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-lg-8 col-lg-offset-3 col-md-8 col-md-offset-3 col-sm-offset-2 col-sm-10 col-xs-12">
				      <button type="submit" id="login" class="btn btn-default loginbtn">登陆</button>
				      <button type="submit" id="register" class="btn btn-default loginbtn">注册</button>
				      <button type="submit" id="forgetpassword" class="btn btn-default loginbtn">忘记密码</button>
				    </div>
				  </div>
				</form>
			</div>
	   	</div>
	</div>
</div>
<div class="modal fade" id="forgetpasswordmodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      		<input type="text" class="form-control" id="fusername" placeholder="工号">
      		<input type="text" class="form-control" id="ftel" placeholder="手机">
			<input type="password" class="form-control" id="password1" placeholder="新密码">
			<input type="password" class="form-control" id="password2" placeholder="再次输入新密码">
      </div>
      <div class="modal-footer">
        <button id="resetpassword" type="button" class="btn btn-primary" >重置密码</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{!/block!}
