{!extends file='layout.html'!} {!block name=main!}
<script src="/static/js/baiduTemplate.js"></script>
<script>
function getorder(){
	$.ajax({
		type:"GET",
		url:"{!$api_url!}"+"/letsgo/orders",
		dataType:"json",
		data:{
			staffid:$('#staffid').val(),
		},
		success:function(data){
			if(data.result ==0){
				var i;
				for(i=0;i<data.data.length;i++){
					var date = new Date(data.data[i].orderTime*1000);
					Y = date.getFullYear() + '-';
					M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
					D = date.getDate() + ' ';
					h = date.getHours() + ':';
					m = date.getMinutes() + ':';
					s = date.getSeconds(); 
					data.data[i].orderTime =Y+M+D+h+m+s;
				}
				var bt=baidu.template;
				var html=bt('t:search_result',data);
				$("#result").html(html);
			}
		},
		error:function(data){
			alert("出错了，请联系系统管理员");
		},
	});
}

function orderdetail(orderid){
	$.ajax({
		type:"GET",
		url:"{!$api_url!}"+"/letsgo/order",
		dataType:"json",
		data:{
			id:orderid,
		},
		success:function(data){
			if(data.result ==0){
				var bt=baidu.template;
				var html=bt('t:modal_result',data);
				$("#orderdetails").html(html);
				$('#ordersubmit').modal('show');
			}
		},
		error:function(data){
			alert("出错了，请联系系统管理员");
		},
	});
}
$(document).ready(function(){
	checkuserlogin();
	setTimeout(getorder,300); 
});
</script>
<style>
th{
	text-align:center;
}
</style>
	<div class="row" style="text-align: center">
		<div id="box" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="title">
				<p>我的订单</p>
			</div>
			<table class="table">
			<thead>
				<tr>
					<th>订单号</th>
					<th>订单名称</th>
					<th>送货地点</th>
					<th>提交时间</th>
					<th>备注</th>
					<th>详情</th>
				</tr>
			</thead>
			<tbody id="result">
			</tbody>
			</table>
		</div>
	</div>
<div class="modal fade" id="ordersubmit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ordername"></h4>
      </div>
      <div class="modal-body">
        <table class="table">
	        <thead>
		        <tr>
			        <th>书名</th>
			        <th>作者</th>
			        <th>出版社</th>
			        <th>定价</th>
			        <th>数量</th>
		        </tr>
	        </thead>
	        <tbody id="orderdetails">
	        </tbody>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script id='t:search_result' type="text/template">
<!-- 模板部分 -->
<% for(var i = 0; i<data.length;i++){%>
				<tr>
					<td><%=data[i].id%></td>
					<td><%=data[i].orderName%></td>
					<td><%=data[i].address%></td>
					<td><%=data[i].orderTime%></td>
					<td><%=data[i].remark%></td>
					<td><button onclick="orderdetail('<%=data[i].id%>')" class="btn btn-default">查看详情</button></td>
				</tr>
<%}%>
<!-- 模板结束 -->   
</script>
<script id='t:modal_result' type="text/template">
<!-- 模板部分 -->
<% for(var i = 0; i<data.length;i++){%>
				<tr>
					<td><%=data[i].name%></td>
					<td><%=data[i].author%></td>
					<td><%=data[i].press%></td>
					<td><%=data[i].fixedPrice%></td>
					<td><%=data[i].count%></td>
				</tr>
<%}%>
<!-- 模板结束 -->   
</script>
{!/block!}
